<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Demo1</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style type="text/css" media="screen">
li.active {
    background-color: green;
}
        </style>
    </head>
    <body>
        <div id="demo1">
            <ul>
                <li :class="{active: index == current && current !== ''}" @click="choose(index)" v-for="(item, index) in lists" :key="lists.index">{{ item }}</li>
            </ul>
            <button type="button" @click="add()">添加到下面的列表中</button>
            <ul>
                <li v-for="(item, index) in targetLists" :key="targetLists.index">{{ item }}</li>
            </ul>
        </div>
    </body>
    <script charset="utf-8">
        new Vue({
           el: '#demo1',
           data: {
               current: '',
               lists: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
               targetLists: []
           },
           methods: {
               choose(index) {
                    console.log(index)
                   this.current = index
               },
               add() {
                   if(this.current == '') { return }
                   this.targetLists.push(this.lists[this.current])
                   this.current = ''
               }
           }
        })
    </script>
</html>
